{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "imports": "/imports",
        "constants": "/constants",
        "helpers": "/helpers",
        "client": "/client"
      }
    }]
  ]
}