{
  "env": {
    "browser": true,
    "meteor": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "meteor"
  ],
  "extends": [
    "@meteorjs/eslint-config-meteor",
    "plugin:meteor/recommended"
  ],
  "settings": {
    "import/resolver": "meteor"
  },
  "rules": {
    "eol-last": 0,
    "indent": ["error", 2],
    "linebreak-style": ["off", "windows"],
    "quotes": ["error", "double"],
    "import/no-unresolved": 0, // need for use alias paths
    "import/prefer-default-export": 0
  }
}