<template name="dropdown">
    <div class="dropdown ">
        <button
                class="btn btn-success btn-xs dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
        >
            <i class="fa fa-plus"></i>
        </button>
        <div style="text-align: center;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#if list}}
                {{#each list}}
                    <a style="text-decoration: none; color: black" id="dropdownItemLink"  href="#">
                        {{name}}
                    </a>
                {{/each}}
            {{else}}
                <span>None</span>
            {{/if}}
        </div>
    </div>
</template>