@import "./variables";
@import "./header/index";
@import "./side-bar-layout/index";
@import "./content-layout/index";

@import "./home-page/index";
@import "./not-found-page/index";


body, html  {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.app_background {
  background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(0,0,0,0.5) 70%), url("img/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.primary_container {
  display: flex;
  flex: 1;
}